{% extends "layout.html" %}

{% block title %} Resume {% endblock %}

{% block body %}
  <div class="row mt-5">
    <div class="col-sm-12">
      <h1 class="text-center font-weight-bold">Irwin Marcano</h1>
      <p class="text-center lead">Web Developer</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12 col-md-8">
      <h3>Summary <hr></h3>
      <p>Technology enthusiast with a can-do attitude, able to collaborate in a team setting and with a strong willingness to learn new technologies and tools. Knowledge in object-oriented programming; developing, testing and debugging code; designing interfaces; and cloud computing.
      </p>

      <h3 class="mt-5">Experience <hr></h3>
      <p>
        <span class="font-weight-bold">Freelance Web Development,​</span> <span class="font-italic">​Web Developer</span> <br>
        <span class="font-weight-lighter small">Feb 2019 - Present | Chicago, IL.</span>
      </p>

      <p>
        <ul>
          <li>Develop websites in Squarespace; Implemented additional features using Javascript, jQuery, and CSS according to client needs</li>
          <li>Develop mobile responsive websites using HTML, CSS, Bootstrap, and Javascript. Knowledge of VueJs for Web Apps, deployment to Github, and use of Gulp to make development easier</li>
        </ul>
      </p>

      <p class="mt-4">
        <span class="font-weight-bold">General Assembly,​ </span> <span class="font-italic">​Web Development Course</span> <br>
        <span class="font-weight-lighter small">March 2018 - June 2018 | Chicago, IL.</span>
      </p>

      <p>
        <span class="font-weight-bold">Parking App | Check for Parking Restrictions</span>
      </p>

      <p>
        <ul>
          <li>Made AJAX call to Chicago API and linked JSON to Google Maps</li>
          <li>Used Git to collaborate with team members; working on branches and resolving merging issues</li>
          <li>Created logic and styled frontend ejs templates</li>
          <li>Deployed application using Heroku</li>
        </ul>
      </p>

      <p class="mb-3">
        <span class="font-weight-bold">Technologies used:</span> <br>
        NodeJS, ExpressJS, MongoDB, JavaScript, HTML, Bootstrap, CSS
      </p>

      <p>
        <span class="font-weight-bold">EMS | Schedule and Manage your employees</span>
      </p>

      <p>
        <ul>
          <li>Build the backend API controllers and models</li>
          <li>Collaborated in creating and styling React frontend</li>
          <li>Used Git to pull the latest changes, push and merge branches</li>
          <li>Deployed application using Heroku</li>
        </ul>
      </p>

      <p class="mb-5">
        <span class="font-weight-bold">Technologies used:</span> <br>
        Ruby, Sinatra, PostgreSQL, JavaScript, React, HTML, Bootstrap, Git
      </p>
    </div> {# left column ends #}

    <div class="col-sm-12 col-md-4">
      <h3>Skills <hr></h3>
      <p>
        <ul class="list-unstyled">
          <li>Python, Django, Ruby,</li>
          <li>Rails, JavaScript, VueJs,</li>
          <li>NodeJs, ExpressJs, AWS,</li>
          <li>PostgreSQL, Heroku, Git,</li>
          <li>HTML, Bootstrap, CSS,</li>
          <li>Front End/Back End</li>
          <li>Bilingual (Spanish)</li>
        </ul>
      </p>

      <h3 class="mt-5">Education <hr></h3>
      <p>
        <span class="font-weight-bold">General Assembly</span> <br>
        <span>Web Development Immersive Certificate</span> <br>
        <span class="font-weight-lighter small">Mar 2018 - Jun 2018</span>
      </p>

      <p>
        <span class="font-weight-bold">Harry S. Truman College</span> <br>
        <span>Adult Education Coursework</span> <br>
        <span class="font-weight-lighter small">Nov 2016 - Dec 2017</span>
      </p>

      <p>
        <span class="font-weight-bold">Rodolfo Loero Arismendi Institute of Technology</span> <br>
        <span>Industrial Relations</span> <br>
        <span class="font-weight-lighter small">Sep 2010 - May 2014</span>
      </p>
    </div> {# right column ends #}

  </div> {# second row ends #}
{% endblock %}
